<html>
    <head>
        <title>AI based Attendance Systems</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/static/css/custom.css" >
        {% block style %}{% endblock %}
    </head>
    <body class="bg-light">
      <!-- nav bar menu-->
        <nav class="navbar navbar-light bg-danger pl-5 mb-5 navbar-custom">
            <a class="navbar-brand" href="#">
                <img src="/static/img/logo.png" width="40" height="40" class="d-inline-block align-center mr-3 bg-white rounded" alt="">
                AI Based Object Counter
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index')}}"><span class="fa fa-home mr-1"></span>Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('model')}}"><span class="fa fa-cubes mr-1"></span>Model</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('setting')}}"><span class="fa fa-cogs mr-1"></span>Setting</a>
                </li>
            </ul>
        </nav>
        <!-- end nav bar menu-->

        <!-- flash message -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
          <div class="alert-fixed">
            <div class="d-flex justify-content-center">
              <div class="alert alert-{{ category }} alert-dismissible fade show text-secondary" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- end flash message -->

        {% block content %}{% endblock %}
    </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/fontawesome.min.js" integrity="sha512-kI12xOdWTh/nL2vIx5Yf3z/kJSmY+nvdTXP2ARhepM/YGcmo/lmRGRttI3Da8FXLDw0Y9hRAyZ5JFO3NrCvvXA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script>
  // menu on active change color
   $('li.active').removeClass('active');
   $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
</script>
{% block script %}{% endblock %}